{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <h1>Welcome</h1>
            <h4 class="description">Welcome to Blog. A collection of articles on
                tech, how-to,
                and development.</h4>
        </div>
    </div>

    <!-- Start Blog card section -->
    <div class="container-fluid">
        <div class="blog-2 bg-white">
            <div class="row mb-3">
                <div class="col mb-3 text-center">
                    <h2>Posts by {{ view.kwargs.username }} {{ page_obj.paginator.count }}</h2>
                </div> 
            </div>
            <div class="col-md-10 ml-auto mr-auto space-top">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="{% url 'post-detail' post.id %}">
                                    <img class="img img-raised" src="{% static 'blog/img/gradient_poster.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Machine Learning</h6>
                                <h5 class="card-title">
                                    <a href="#pablo">{{ post.title }}</a>
                                </h5>
                                <p class="card-description">
                                    {{ post.content }}
                                    <br>
                                </p>
                                <hr>
                                <div class="card-footer">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-12">
                                                <a href="{% url 'user-posts' post.author.username %}">
                                                    <img src="{{ post.author.profile.image.url }}" alt="..."
                                                        class="avatar img-raised">
                                                    <span>{{ post.author|capfirst }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stats mt-2">
                                        <div class="row">
                                            <div class="col-12">
                                                {{ post.date_posted|date:"F d, Y" }}
                                            </div>
                                            <div class="col-12">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> 5 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- end Blog card section -->

    <!-- pagination section -->
    <div class="container-fluid">
        <div class="col-10 ml-auto mr-auto space-top">
            <div class="row">

                {% endfor %}
                {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="btn tn-outline-info" href="?page=1">First</a>
                <a class="btn tn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn tn-outline-info" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn tn-outline-info" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn tn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn tn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}
            </div>
        </div>
        <!-- end pagination section -->
    </div>
</div>
{% endblock content %}