{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'blog/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> About Us - Now UI Kit Pro by Creative Tim </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/now-ui-kit.css' %}" rel="stylesheet">

</head>

{% block content_area%}
<body>

</body>
{% endblock content_area%}

<!--   Core JS Files   -->
<script src="{% static 'blog/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'blog/js/plugins/bootstrap-switch.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'blog/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'blog/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'blog/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'blog/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'blog/js/plugins/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'blog/js/now-ui-kit.js' %}" type="text/javascript"></script>

</html>
