{% extends "mysite/base.html" %}
{% load static %}
{% block content %}
<div class="row align-content-center">
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">
        <div class="card" style="padding: 20px;"><img class="rounded card-img-top w-100 d-block"
                src="{% static 'mysite/img/image_1469.png' %}"></div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-7 col-xl-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Grant King</h4>
                <h6 class="text-muted card-subtitle mb-2">Python Developer</h6>
                <p class="card-text" style="font-size: 20px;">Hi, I'm Grant and I live in Portland, Oregon. I am
                    looking for opportunities to gain experience as I finish my education.&nbsp;<br></p>
                <p class="card-text">I studied general IT and data analysis for most of my time in undergrad. Now I'm 
                    entering my third year of learning on my own about Python,
                    prototyping, computer science, and interactive visualizations.<br></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-7 col-xl-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience</h4>
                <h6 class="text-muted card-subtitle mb-2">What am I familiar with?</h6>
                <p class="card-text">Most of my experience so far is with writing Python programs for various
                    visualization or processing tasks. I am comfortable with these tools and paradigms:&nbsp;&nbsp;</p>
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
                        <ul>
                            <li>OpenCV</li>
                            <li><a href="{% url 'projects-category' 'pygame' %}">Pygame</a></li>
                            <li>CUDA (Numba)</li>
                            <li>Matplotlib</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
                        <ul>
                            <li>Object Oriented Design</li>
                            <li>Data Visualization</li>
                            <li>Data Processing</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><a class="btn btn-outline-dark" role="button"
                            href="https://github.com/grant-king">Github Profile</a></div>
                    <div class="col"><a class="btn btn-outline-dark" role="button"
                            href="{% url 'mysite-projects' %}">Projects Page</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Now Now</h4>
                <h6 class="text-muted card-subtitle mb-2">What am I doing now?</h6>
                <p class="card-text">Most of my energy is devoted to studying, but now I'm attempting to add more projects to my portfolio.</p>
                <p class="card-text">I am currently looking for collaboration partners and volunteer projects. If
                    you think you might be interested in working with me on a project or you have a volunteer
                    request, please get in touch.</p>
                <div class="row">
                    <div class="col"><a class="btn btn-outline-dark" role="button"
                            href="{% url 'contact' %}">Contact</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}