{% extends "mysite/base.html" %}
{% load static %}
{% block content %}
<div class="row text-left justify-content-center" style="margin: 10px -15px;">
    <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8">
        <div class="card"><img class="card-img-top w-100 d-block" src="{{ project.image.url }}">
            <div class="card-body">
                <h4 class="card-title">{{ project.title }}</h4>
                <h6 class="text-muted card-subtitle mb-2">{{ project.subtitle }}</h6>
                <p class="card-text">{{ project.summary }}</p>
                <p class="card-text">{{ project.description }}</p>
                {% if project.app_link %}
                <a class="btn btn-outline-primary btn-lg" role="button" href="{{ project.app_link }}">Demo App</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}